{%  extends "base_1.html" %}
{% load thumbnail %}
{% block title %}{{ news.title_seo|default:news.title }}{% endblock %}
{% block metakey %}{{ news.metakey }}{% endblock %}
{% block metades %}{{ news.metades }}{% endblock %}

{%block breadcrumbs%}
				<div class="breadcrumbs"><!-- breadcrumbs block <li><em>-</em><a href="#">Мультимедиа. Графика. Дизайн</a></li> -->
					<ul>
						<li><em>-</em><a href="/">Главная</a></li>
						<li><em>-</em><a href="{%url category_list%}">О фурнитуре</a></li>			
						<li><em>-</em><a href="{%url category_inside category.slug_title%}">{{category.title}}</a></li>			
						<li class="active"><em>/</em><span>{{ news.title }}</span></li>
					</ul>
				</div><!-- breadcrumbs block end -->
{%endblock%}
{%block content_1%}
<div class="" style="width:590px;float:left;margin-left:20px;">
						<h1  style="font-size:18px;">{{ news.title }}</h1>
						
						<div class="service round">
						 
							
							
							 {{ news.content|safe }}<br /><br />
								<p align="right" style="color:#ccc;">{{news.pub_date}}</p>
							
							<div class="clear"></div>
							
						</div>
</div>
{% endblock %}


