
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <title>Страница не найдена</title>
    <meta name="keywords" content="" />
    <meta name="description" content="Страница не найдена" />

    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="/static/kamlock/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.form.js"></script>

    <script type="text/javascript" src="/static/kamlock/js/my.js"></script>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/kamlock/img/favicon.ico">
	<meta name='yandex-verification' content='74485768414853e5' />
</head>

<body>

    <div class="knt">

        <div class="header_gradient">
            <div class="header">
                <div class="inn">
                    <a class="logo" href="/"></a>
                    <div class="slogan">Интернет магазин автофурнитуры</div>
                  
                    <div class="rgt">
                        <div class="phone">+7 (343) 237-25-09 <span>/</span> +7 (912) 040-30-33</div>
                        <div class="call"><span class="button call_order">Заказать звонок</span></div>
                        <div class="ktk">
                            <span><a class="mail" href="mailto:zorin@kamloki.ru">zorin@kamloki.ru</a></span>
                            <span class="adres">г. Екатеринбург, ул. Белинского д. 34, оф. 124в.</span>
                            <span class="time">пн - пт <b>9:00 - 19:00</b> </span>
                        </div>
                    </div>
                    <div class="mini">
                        


<div class="cart">
    <div class="cart_title">

Корзина <span class="cart_total">( 0 товаров, <span class="cart_total_summa">0</span> руб. )</span><img class="cart_arrow" src="/static/kamlock/img/cart-arrow.png" >

<script>
	var CartTotalSumma = $('.cart_total_summa').text();
	$('td.itogo_summa').text(CartTotalSumma);
</script></div>
</div>
<div class="full_cart">
    <form>
        <table class="full_cart_table">
            <tr>
                <th></th>
                <th class="name">Наименование товара</th>
                <th width="100">Количество</th>
                <th>Цена, руб.</th>
                <th>Сумма, руб.</th>
                <th>Удалить</th>
            </tr>
            
        </table>
        <a href="/cart/list/" class="button">Оформить заказ</a>
    </form>
</div>
                    </div>    
                </div>
            </div>
        </div>

        



        <div class="menu">
            <div class="inn">
                <ul>
                    
                    <li><a href="/">Главная</a></li>
                    <li></li>
                    
                    <li><a href="/katalog/">Каталог продукции</a></li>
                    <li></li>
                    
                    <li><a href="/delivery/">Доставка</a></li>
                    <li></li>
                    
                    <li><a href="/news/">Новости</a></li>
                    <li></li>
                    
                    <li><a href="/o-kompanii/">О компании</a></li>
                    <li></li>
                    
                    <li><a href="/article/">Статьи</a></li>
                    <li></li>
                    
                    <li><a href="/contacts/">Контакты</a></li>
                    <li></li>
                    
                </ul>
                <span class="jus"></span>
            </div>
        </div>
  


					
<!-- ######################################################################################## -->



<!-- ######################################################################################## -->



		
        

        
        <div class="breadcrunbs">
            <div class="inn">
                <a href="/">Главная</a> > <span>Контакты</span>
            </div>
        </div>
    

		
		


        <div class="main">
            <div class="inn">
                <div class="mar">
                    <div class="left">
                        <h2>Каталог</h2>
<ul class="leftmenu">
    
    <li ><a href="/katalog/kamloki/">Камлоки</a>
        
        <ul>
            
            <li ><a href="/katalog/kamloki-aluminievie/">Камлоки алюминиевые</a>
		        <ul>
		            
		            <li ><a href="/katalog/kamloki-tip-a-papa-vnutrenyaya-rezba/">Камлоки тип &quot;A&quot; (&quot;Папа&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-b-mama-narugnaya-rezba/">Камлоки тип &quot;B&quot; (&quot;Мама&quot; наружная резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-c-kamloki-tip-b-mama-shtuzher/">Камлоки тип &quot;C&quot; (&quot;Мама&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-D-mama-vnutrenyaya-rezba/">Камлоки тип &quot;D&quot; (&quot;Мама&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-dc-zaglushka-dlya-papa/">Камлоки тип &quot;DC&quot; (Заглушка для &quot;Папа&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-dp-zaglushka-dlya-mama/">Камлоки тип &quot;DP&quot; (Заглушка для &quot;Мама&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-e-papa-shtuzher/">Камлоки тип &quot;E&quot; (&quot;Папа&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-tip-f-papa-nar_rez/">Камлоки тип &quot;F&quot; (&quot;Папа&quot; наружная резьба)</a></li>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/kamloki-iz-nergaveushei-stali/">Камлоки из нержавеющей стали</a>
		        <ul>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-a/">Камлоки SS тип &quot;A&quot; (&quot;Папа&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-b/">Камлоки SS тип &quot;B&quot; (&quot;Мама&quot; наружная резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-c/"> Камлоки SS тип &quot;C&quot; (&quot;Мама&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-d/"> Камлоки SS тип &quot;D&quot; (&quot;Мама&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-dc/">Камлоки SS тип &quot;DC&quot; (Заглушка для &quot;Папа&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-dp/">Камлоки SS тип &quot;DP&quot; (Заглушка для &quot;Мама&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-e/">Камлоки SS тип &quot;E&quot; (&quot;Папа&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-ss-tip-f/">Камлоки SS тип &quot;F&quot; (&quot;Папа&quot; наружная резьба)</a></li>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/kamloki-iz-latuni/">Камлоки из латуни</a>
		        <ul>
		            
		            <li ><a href="/katalog/kamloki-br-tip-a/">Камлоки Brass тип &quot;A&quot; (&quot;Папа&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-b/">Камлоки Brass тип &quot;B&quot; (&quot;Мама&quot; наружная резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-c/">Камлоки Brass тип &quot;C&quot; (&quot;Мама&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-d/">Камлоки Brass тип &quot;D&quot; (&quot;Мама&quot; внутренняя резьба)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-dc/">Камлоки Brass тип &quot;DC&quot; (Заглушка для &quot;Папа&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-dp/">Камлоки Brass тип &quot;DP&quot; (Заглушка для &quot;Мама&quot;)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-e/">Камлоки Brass тип &quot;E&quot; (&quot;Папа&quot; штуцер)</a></li>
		            
		            <li ><a href="/katalog/kamloki-br-tip-f/">Камлоки Brass тип &quot;F&quot; (&quot;Папа&quot; наружная резьба)</a></li>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/uplotnitelnie-kolca-dlya-kamlokov/">Уплотнительные кольца для камлоков</a>
		        <ul>
		            
		        </ul>
            </li>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/soedineniya-tw/">Соединения TW </a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/homuti/">Хомуты</a>
        
        <ul>
            
            <li ><a href="/katalog/homuti-chervyachnie/">Хомуты червячные</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/homuti-silovie/">Хомуты силовые</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/homuti-plastikovie/">Хомуты пластиковые</a>
		        <ul>
		            
		        </ul>
            </li>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/yashiki-dlya-ognetushitelei/">Ящики для огнетушителя</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/yashiki-dlya-peska/">Ящики для песка</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/Furnitura-dlya-furgonov/">Фурнитура для фургонов</a>
        
        <ul>
            
            <li ><a href="/katalog/petli-dlya-furgonov/">Петли для фургонов</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/petli-bokovie/">Петли боковые</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/petli-dlya-yashikov/">Петли для ящиков</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/zamki-dlya-furgonov/">Замки для фургонов</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/uplotniteli-dlya-furgona/">Уплотнители для фургона</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/zasovi-pruginnie/">Засовы пружинные</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/fiksatori-dverei/">Фиксаторы дверей фургона</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/kolca-krepleniya-gruza/">Кольца крепления груза</a>
		        <ul>
		            
		        </ul>
            </li>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/bortovaya-furnitura/">Бортовая фурнитура</a>
        
        <ul>
            
            <li ><a href="/katalog/petli-bortovie/">Петли бортовые</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/bortovie-stoiki/">Бортовые стойки</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/zamki-bortovie/">Замки бортовые</a>
		        <ul>
		            
		        </ul>
            </li>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/luki-avariino-ventilyacionnie/">Люки аварийно-вентиляционные</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/osteklenie-dlya-furgonov/">Остекление для фургонов</a>
        
        <ul>
            
            <li ><a href="/katalog/molotok-dlya-stekla/">Молоток для стекла в автобус</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/steklopaketi-avtomobilnie-gluhie/">Стеклопакеты автомобильные глухие</a>
		        <ul>
		            
		        </ul>
            </li>
            
            <li ><a href="/katalog/fortochki-avtomobilnie-sdvignie/">Форточки автомобильные сдвижные</a>
		        <ul>
		            
		        </ul>
            </li>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/ognetushiteli/">Огнетушители</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/osveshenie-dlya-furgonov/">Освещение для фургонов</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/lestnici-i-stupenki-dlya-furgonov/">Лестницы и ступеньки для фургонов</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/ventilyatori-dlya-furgonov/">Вентиляторы для фургонов</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/krishi-sdvignie/">Крыши сдвижные </a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/ruchki/">Ручки подпружиненные</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/furnitura-dlya-tentov/">Фурнитура для тентов</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/svetootrajaushaya-lenta/">Светоотражающая лента </a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/remni-bezopasnosti/">Ремни безопасности</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/gazovie-prugini/">Газовые пружины</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/zamki-ruchka-t/">Замки ручка &quot;Т&quot;</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/zamki-klavishnie/">Замки клавишные</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/zamki-dlya-yashikov-i-penalov/">Замки для ящиков и пеналов</a>
        
        <ul>
            
        </ul>
    </li>
    
    <li ><a href="/katalog/zamki-dlya-spectehniki/">Замки для спецтехники</a>
        
        <ul>
            
        </ul>
    </li>
    

</ul>

                    </div>
                    <div class="right">
                        <div class="content">
                            <h1>Страница не найдена</h1>                            

                            <p style="text-align: left;font-size:16px;"><strong><span style="font-family: tahoma, arial, helvetica, sans-serif; ">Извините, данная страница не найдена.<br/><br/>Воспользуйтесь поиском или навигацией на сайте для перехода в интересующий раздел. </span></strong></p>
<p style="text-align: justify;"><em><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 16px;">  
<form action="/search/" class="search" style="display:block;position:relative!important;margin:20px 0px 0px 0px!important;padding:0px!important;left:0px;top:0px;width:420px;">
                        <input class="search_input" style="background-color:#48a6dd;" value="" name="q" placeholder="Поиск по каталогу">
                    </form>
</p>
                        </div>

                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>


        
        
        

        <div class="footer_gradient">
            <div class="footer">
                <div class="inn">
                    


  


					
<!-- ######################################################################################## -->

  
	<ul class="bottommenu">
		
			<li><a href="/">Главная</a></li>		
		
			<li><a href="/katalog/">Каталог продукции</a></li>		
		
			<li><a href="/delivery/">Доставка</a></li>		
		
			<li><a href="/news/">Новости</a></li>		
		
			<li><a href="/o-kompanii/">О компании</a></li>		
		
			<li><a href="/article/">Статьи</a></li>		
		
			<li><a href="/contacts/">Контакты</a></li>		
		
	</ul>


<!-- ######################################################################################## -->



                    <div class="btc">
                        <div class="btc_phone">+7 (343) 237-25-09 <span>/</span> +7 (912) 040-30-33</div>
                        <div class="btc_mail"><a class="mail" href="mailto:zorin@kamloki.ru">zorin@kamloki.ru</a></div>
                        <div class="btc_time">пн - пт <b>9:00 - 19:00</b> </div>
                        <div class="btc_adres">г. Екатеринбург, ул. Белинского д. 34, оф. 124в.</div>
                        <div class="btc_adres"></div>
                    </div>

                    <div class="rgb">
                        <div class="rgb_logo"></div>
                        <div class="rgb_copy">© 2016 ООО "Техника плюс". Все права защищены.</div>
                    </div>

                    <div class="up66"><a target="_blank" href="http://up66.ru/razrabotka-saytov.html">Разработка сайта</a> - Студия Апдейт</div>
                </div>
            </div>
        </div>

    </div>

    <div class="fon"></div>
    <div class="lightbox">
        <div class="close"></div>
        <div class="img_kont"></div>
    </div>
    <div class="call_form">
        <div class="close" title="Закрыть"></div>
        <div class="h4">Заказать звонок</div>
        <form action="" id="call_form" method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='f0325f7fce721e385781fa694a8ee911' /></div>
            <div id="emsg"></div>
            <input type="text" class="inputbox" name="name" placeholder="Имя:">
            <div  class="error form_name" style="color:red;margin-bottom:5px;"></div>
            
            <input type="text" class="inputbox" name="phone" placeholder="Телефон:">
            <div  class="error form_phone" style="color:red;margin-bottom:5px;"></div>
            
            <input type="submit" class="button" value="Заказать звонок">
        </form>
    </div>

	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter31302938 = new Ya.Metrika({
                    id:31302938,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31302938" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    
</body>

</html>