{%  extends "category.html" %}
{% load thumbnail %}
{% load tree_menu_tags %}

{% block title %}
	{% if item.title_seo %}
		{{ item.title_seo }}
	{% else %}
		Купить {{ item.title|lower }}, цены в Екатеринбурге
	{% endif %}
{% endblock %}
{% block metakey %}{{ item.metakey }}{% endblock %}
{% block metades %}
	{% if item.metades %}
		{{ item.metades }}
	{% else %}
		В компании Техника плюс вы можете купить  {{ item.title|lower }} по выгодной цене в Екатеринбурге
	{% endif %}
{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrunbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div class="inn">
				<div class="brleft" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="/"><span itemprop="name">Главная</span><meta itemprop="position" content="1" /></a>
				</div>				>
				<div class="brleft" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url catalog %}"><span itemprop="name">Каталог продукции</span><meta itemprop="position" content="2" /></a>
				</div> >
                {% for c in cat.get_ancestors %}
					<div class="brleft" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a itemprop="item" href="{% url cat c.slug_title %}"><span itemprop="name">{{ c.title }}</span><meta itemprop="position" content="{{ forloop.counter|add:"2" }}" /></a>
					</div>						>               
                {% endfor %}
                <div class="brleft" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemprop="item" href="{% url cat cat.slug_title %}"><span itemprop="name">{{ cat.title }}</span><meta itemprop="position" content="{{cat.get_ancestors|length|add:"3" }}" /></a></div> >      
                <span>{{ item.title }}</span>
            </div>
        </div>
{% endblock %}

{% block content %}
        <div class="main">
            <div class="inn">
                <div class="mar">
                    <div class="left">
                    	{% include "left_menu.html" %}

                    	{% include "last_view.html" %}

                    </div>
                    <div class="right">
                        <div class="content">
                            <h1>{{ item.title }}</h1>
                            <table class="product">
                                <tr>
                                    <td class="image">
										<div class="over_image">
                                        <img class="product_image" 
                                        {% thumbnail item.image "800" crop="center" as im %}      
                                        	src="{{ im.url }}"
                                        {% endthumbnail %}
                                        width="315px" alt='{{ item.title }}' title='{{ item.title }}'>
										</div>
                                    </td>
                                    <td class="desc">
                                        <div class="price">
                                            <table class="price_table">
                                                <tr>
                                                    <td>Розница</td>
                                                    <td>Опт
                                                        <div class="opt"></div>
                                                        <div class="opt_more">Оптовая цена действительна при сумме заказа от 50 000 руб.</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
													{% if item.price == 1 %}по запросу{% else%}
													<span class="int">{{ item.price }}</span> <span class="rub">&#8381;</span>
													{% endif %}
													</td>
													<td>
													{% if item.old_price == 1 %}по запросу{% else%}
													<span class="int">{{ item.old_price }}</span><span class="rub">&#8381;</span>
													{% endif %}
													</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <form>
                                            <div class="qua">
                                                Количество:
                                                <span class="plus"></span>
                                                <input type="text" value="1" name="quantity">
                                                <span class="minus"></span>
                                            </div>
                                            <button type="submit" class="button add-to-cart" data-tid="{{ item.pk }}">
                                                <div class="img_cart"></div>Заказать</button>
                                        </form>
                                        <div class="short_desc">
                                            {{ item.desc|safe }}
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table class="dop_info">
                                <tr>
                                    <td class="images">
                                        {% thumbnail item.image "600" crop="center" as im %}      
                                        	<img src="{{ im.url }}">
                                        {% endthumbnail %}     

                                    	{% for a in additional %}
                                        {% thumbnail a.image "600" crop="center" as im %}      
                                        	<img src="{{ im.url }}">
                                        {% endthumbnail %}                                   	
                                        	
                                        {% endfor %}

                                    </td>
                                    <td class="docs">
										{% if item.file_doc %}<a class="file" href="{{ item.file_doc.url }}" target="_blank">Чертежи</a>{% endif %}
                                        <br>
                                        {% if item.file_licen %}<a class="file" href="{{ item.file_licen.url }}" target="_blank">Дополнительные документы</a>{% endif %}
                                    </td>
                                </tr>
                            </table>

                            <div class="product_description">
                                {{ item.detail_desc|safe }}
                            </div>

                        </div>

                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
{% endblock %}
