{% load thumbnail %}
{% load catalog_tags %}

<h3>Заказ №{{zakaz.id}} от {{zakaz.date}}</h3>

{{ zakaz.message|replace_br|safe }}<br>
{% if zakaz.fil %}Файл: <a href="http://kamloki.ru{{ zakaz.fil.url }}">скачать</a>{% endif  %}<br>

<br>

<table>
<tr>
<td>Товар
</td>
<td>количество
</td>
<td>цена
</td>               
<td>стоимость
</td>
</tr>
{%for item,n in products%}
<tr>
<td>{{item.tovar.title}}
<br>
{% thumbnail item.tovar.image "165x130" crop="center" as im %}
   <img src="http://tech.wi-jet.ru/{{ im.url }}" alt="{{item.tovar.title}}">
{% endthumbnail %}<br><br>
</td>
<td>{{item.quantity}}шт.
</td>
<td>{{item.tovar.price}}руб.
</td>
<td>{{n}}руб.
</td>
</tr>
{%endfor%}
</table>  


<p>Итого: {{zakaz.itogo}} руб.</p>